html    
    head 
        title= "Progress"
    body 
        p(style="font-size:25; color:blue; font-weight:bold")=titulo
        meter(
            min=min
            max=max 
            value=nivel
        ) 
